Python

pycache/
*.py[cod]
*.pyo
*.pyd
*.pyc

Jupyter

.ipynb_checkpoints
*.nbconvert.ipynb

Data and environments

data/
*.csv
*.h5
*.db
venv/
env/
.venv/
*.sqlite3

OS / IDE

.DS_Store
.vscode/
.idea/
